@charset "UTF-8";
/* CSS Document */

/* ----- THANKS FOR CHECKING OUT MY STYLE SHEETS -- ALL WRITTEN FROM SCRATCH BY HAND -----*/

/* ---- RESET ------*/

* {margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em;font-weight:normal;font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse;border-spacing:0;}
td {vertical-align:top;}
.clear {clear:both; width: 0px;}
.left {float: left;}
.right {float: right;}
img, embed, object, video {max-width: 100%;}


/* -------------------------- BODY --------------------------
---------------------------------------------------------- */

body {
	font: 62.5% 'Avenir Next', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #444;
	text-align: center;
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	padding: 30px 0 50px;
}

/* ------ TEXT ------- */

h1 {font-size: 50pt;}
h2 {font-size: 30pt; color:aqua;}
h3 {
  font-size: 20pt; 
  font-weight: 700; 
  color: white; 
  background: aqua;
  margin-bottom: 30px;
  padding: 5px 0;
}
  
p {font-size: 18pt;}
img {width: 400px; margin-top: 50px; margin-bottom: 30px;}

a {
  font-size: 20pt;
  color: aqua;
}

/* ------ VIDS ------- */

.vids {
  padding-top: 20px;
  padding-bottom: 20px;
}

iframe{padding:10px 0;}