@charset "UTF-8";
/* CSS Document */

/* ----- THANKS FOR CHECKING OUT MY STYLE SHEETS -- ALL WRITTEN FROM SCRATCH BY HAND -----*/

/* ---- RESET ------*/

* {margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em;font-weight:normal;font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse;border-spacing:0;}
td {vertical-align:top;}
.clear {clear:both; width: 0px;}
.left {float: left;}
.right {float: right;}
img, embed, object, video {max-width: 100%;}


/* -------------------------- BODY --------------------------
---------------------------------------------------------- */

body {
	font: 62.5% 'Montserrat', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #444;
	text-align: center;
}

/* ------ TEXT ------- */

h1 {font-size: 100pt;}
p {font-size: 50pt; color:aqua;}
img {width: 400px; margin-top: 50px; margin-bottom: 50px;}